.header {
    background-color: #FFFFFF;
    box-shadow: 0px 4px 6px #ddd;
}

.footer {
    position: fixed;
    bottom: 0;
    height: 5%;
    width: 100%;
    background-color: #9d9d9d;
}

.footer p {
    color: #ddd;
    margin: 0;
}

.button {
    font-size: 16px;
    text-decoration: none;
    padding: 10px;
}

tr {
    border: 1px solid black;
}

table tr:nth-child(even) {
    background-color: #e6e6e6
}

table th {
    background-color: #9e9e9e;
    text-align: left;
    margin-left: 25%;
    padding: 20px;
}

table tr:nth-child(odd) {
    background-color: #ffffff
}

.center {
    text-align: center;
    margin: auto;
}

td {
    border: 1px solid black;
    padding-block: 8%;
    font-size: 18px;
    padding-left: 40px;
    padding-right: 40px;
}

td a {
    text-decoration: none;
}

.float-container {
    display: inline-flex;
    text-align: center;
}

.float-child-logo {
    width: 50%;
}

.float-child-logo img {
    width: 25%;
    margin-left: 40%;
}

.float-child-title {
    white-space: nowrap;
    font-size: 200%;
    width: 50%;
}

p {
    margin-left: 20%;
    margin-right: 20%;
}

h1 {
    margin-right: 70%;
}

h2 {
    text-align: center;
}

.return {
    margin-left: 20%;
}

.text-center {
    text-align: center;
}

.container {
    text-align: center;
}

.container form {
    display: grid;
    margin-left: 10%;
    margin-right: 10%;
    padding: 5%;
}

.container textarea {
    size: 60px;
}


/* media queries */

@media (max-width: 600px) {
    .float-child-title {
        font-size: 90%;
    }
    .float-child-logo img {
        width: 40%;
    }
    .float-container {
        display: flex;
    }
    .container {
        margin-top: 35%;
        justify-content: space-between;
        padding: 20px;
    }
    .container form {
        display: grid;
        margin-left: 20%;
        margin-right: 20%;
        padding: 5%;
    }
    .container textarea {
        size: 60px;
    }
    .button {
        font-size: 16px;
        text-decoration: none;
        padding: 10px;
    }
    .td {
        padding-block: 20%;
    }
}